

body{
    background: linear-gradient(to right, gray 0%, white 80%);
    
        
}

h1{
    text-align: center;
}

#cuerpo{
display: none;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
gap: 200px;
justify-content: space-between; 
}

#nota img{
 width: 50px;
 height: 50px;
}

#mesa img{
    max-width: 50vh;
    width: 500px;
    height: 300px;
}

#bata img{
    width: 150px;
    height: 200px;
}

#caja  img{
    width: 150x;
    height: 100px;
}

#salida img{
    max-width: 50vh;
    width: 400px;
    height: 600px;
}

#inventario{
    text-align: center;
    border-style: solid;
    border-color: black;
    padding: 10px;
}
 

#scorefinal{
    display: none;
    
    table{
        text-align: center;
        width: 100%;
       

        }
        }
   
#TablaResultadoFinal{
  

    td{
        border-collapse: collapse;
border-spacing: 0;
               border-style: solid;
        border-color: rgb(93, 34, 230);
    }
}
